{% extends 'base.html.twig' %}

{% block body %}
    <div class="nav">
        <div class="menu">
            <div class="element">Acceuil</div>
            <div class="element">Billeterie</div>
        </div>
    </div>
    <div class="container">
        <h1 class="title">Musée du louvre</h1>
        <h2 class="subtitle">Paris (1er arrondissement)</h2>
        <div class="preview row">
            <div class="col-md-6">.col-md-1</div>
            <div class="col-md-6">
                <h2>Les horaires</h2>
                <div class="horaire">Ouvert tous les jours excepté le mardi</div>
                <div class="horaire">Ainsi que les 1er mai, 1er novembre et 25 décembre</div>
                <h2>Les tarifs</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
