<div class="nav">
    <div class="menu">
        <div class="element">Acceuil</div>
        <div class="element">Billeterie</div>
        <div class="textRight">Musée du Louvre</div>
    </div>
</div>