<div class="nav">
    <div class="menu">
        <a href="{{ path("homepage") }}">
            <div class="element">Acceuil</div>
        </a>
        <a href="{{ path("billetterie") }}">
            <div class="element">Billeterie</div>
        </a>
        <div class="textRight">Musée du Louvre</div>
    </div>
</div>